In [34]:
from pydantic import BaseModel
from typing import List, Optional
import pandas as pd

In [35]:
class ListingExtra(BaseModel):
    title: str
    link: str
    extra: str = None
    tlist: List[str] = None

In [36]:
test_extra = ListingExtra(title='test', link='testlink', tlist=['one','two'])

In [37]:
test_extra

ListingExtra(title='test', link='testlink', extra=None, tlist=['one', 'two'])

In [40]:
extra_df = pd.json_normalize(test_extra.model_dump())
print(extra_df.columns)
extra_df[['skill1','skill2']] = pd.DataFrame(extra_df.tlist.tolist())

Index(['title', 'link', 'extra', 'tlist'], dtype='object')

In [41]:
extra_df.head()

  title      link extra       tlist skill1 skill2
0  test  testlink  None  [one, two]    one    two