# NoFluffJobs secret API utitilzation instead of scraping

### Imports

In [71]:
import requests
import json
import pandas as pd
import pickle
from datetime import datetime, date

In [6]:
url = "https://nofluffjobs.com/api/search/posting?page=1&limit=50&salaryCurrency=PLN&salaryPeriod=month&region=pl"

### Search term

In [3]:
search_tech = "Python"
raw_search = f"requirement={search_tech}"

In [4]:
payload = json.dumps({
  "rawSearch": raw_search
})
headers = {
  'authority': 'nofluffjobs.com',
  'accept': 'application/json, text/plain, */*',
  'accept-language': 'pl-PL,pl;q=0.9,en-US;q=0.8,en;q=0.7',
  'cache-control': 'no-cache',
  'content-type': 'application/postingSearch+json',
  'cookie': 'nfj_visited_pl=true; lastSearches=true; OptanonAlertBoxClosed=2023-11-02T15:26:46.991Z; nfj_abt=cat3422%2C0%2C1%3Bldm4333%2C0%2C0%3Bpagesize%2C0%2C0; nfj_redirect_id=00d16475-3c5d-45f3-8ea1-0d8115160a5f; postingApplied_UC5ICGL1=true; nfj_policy_accepted=true; nfj_consents={%22consent_initialized%22:true%2C%22consent_analytics_storage%22:false%2C%22consent_ad_storage%22:false%2C%22consent_functionality_storage%22:false%2C%22onetrust_consent_id%22:%221fb66390-249c-4825-8551-d857cf557193%22%2C%22onetrust_geolocation%22:%22PL%22%2C%22consent_analytics_storage_date%22:%222023-10-25T09:47:48.968Z%22%2C%22consent_functionality_storage_date%22:%222023-10-25T09:47:48.968Z%22%2C%22consent_ad_storage_date%22:%222023-10-25T09:47:48.968Z%22%2C%22first_consent_selection%22:true%2C%22consent_selection_date%22:%222023-10-25T09:47:48.968Z%22}; AMP_MKTG_53ff6cd964=JTdCJTdE; nfj_new_user=true; nfj_session_id=88499a3d-5615-48ca-9bb0-69fd8a9c1fd4.1700752947104; _dcid=88499a3d-5615-48ca-9bb0-69fd8a9c1fd4; nfj_selected_region=PL; country_iso=US; OptanonConsent=isGpcEnabled=0&datestamp=Thu+Nov+23+2023+16%3A23%3A59+GMT%2B0100+(Central+European+Standard+Time)&version=202310.1.0&browserGpcFlag=0&isIABGlobal=false&hosts=&consentId=1fb66390-249c-4825-8551-d857cf557193&interactionCount=2&landingPath=NotLandingPage&AwaitingReconsent=false&groups=C0001%3A1%2CC0002%3A0%2CC0003%3A0%2CC0004%3A0&geolocation=PL%3B10; AMP_53ff6cd964=JTdCJTIyZGV2aWNlSWQlMjIlM0ElMjI4ODQ5OWEzZC01NjE1LTQ4Y2EtOWJiMC02OWZkOGE5YzFmZDQlMjIlMkMlMjJzZXNzaW9uSWQlMjIlM0ExNzAwNzUyOTQ3MTA0JTJDJTIyb3B0T3V0JTIyJTNBZmFsc2UlN0Q=; nfj_last=1700753048139; _dd_s=rum=2&id=7cc82860-2c42-40c2-b559-11a3c23d0017&created=1700752947384&expire=1700753949314',
  'nfj-global-context': '{"region":"PL","lang":"pl","global_is_employer_logged_in":false,"global_is_candidate_logged_in":false,"global_internal_traffic":false,"global_partnerId":null,"global_partnerInternalTraffic":false,"global_url":"https://nofluffjobs.com/pl/Python?page=1","global_windowResolution":"649x919","global_pixelRatio":1,"global_screenWidth":1920,"global_screenHeight":1040,"global_deviceCategory":"desktop","global_deviceFamily":"Windows","global_userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36","global_company_domain":null}',
  'origin': 'https://nofluffjobs.com',
  'pragma': 'no-cache',
  'referer': 'https://nofluffjobs.com/pl/Python?page=1',
  'sec-ch-ua': '"Google Chrome";v="119", "Chromium";v="119", "Not?A_Brand";v="24"',
  'sec-ch-ua-mobile': '?0',
  'sec-ch-ua-platform': '"Windows"',
  'sec-fetch-dest': 'empty',
  'sec-fetch-mode': 'cors',
  'sec-fetch-site': 'same-origin',
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36',
  'x-datadog-origin': 'rum',
  'x-datadog-parent-id': '8273576369410968673',
  'x-datadog-sampling-priority': '1',
  'x-datadog-trace-id': '776451047921066142'
}

### Get the data from requests
1. Make the request with the specified payload with search term and page
2. get the postings json data
3. save the data in an array
4. convert the data to a dataframe with json_normalize

In [12]:
postings_half = [] #for avoicing a block reasons
for page in range(1, total_pages//2):
    page_url = f"https://nofluffjobs.com/api/search/posting?page={page}&limit=50&salaryCurrency=PLN&salaryPeriod=month&region=pl"
    page_r = requests.request("POST", url, headers=headers, data=payload)
    page_data = page_r.json()
    page_postings = page_data['postings']
    for post in page_postings:
        postings_half.append(post)
    print('page postings: ',len(page_postings))
print('postings half: ', len(postings_half))

page postings:  465
page postings:  465
page postings:  465
postings half:  1395

In [13]:
half_df = pd.json_normalize(postings_half)
# half_df.to_csv(f'fluff_python_half.csv')

In [14]:
half_df.head()

,id,name,posted,renewed,title,technology,category,seniority,url,regions,...,logo.companies_details_webp,logo.companies_listing_webp,logo.companies_details_2x_webp,logo.companies_listing_2x_webp,salary.from,salary.to,salary.type,salary.currency,referralBonus,referralBonusCurrency
0,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,1698751662640,1.701084e+12,Remote Senior Python Developer,Python,backend,[Senior],remote-senior-python-developer-objectivity-par...,[pl],...,companies/logos/companies_details/objectivity_...,companies/logos/companies_listing/objectivity_...,companies/logos/companies_details_2x/objectivi...,companies/logos/companies_listing_2x/objectivi...,15960.0,26040.0,b2b,PLN,NaN,NaN
1,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,1698751662640,1.701084e+12,Remote Senior Python Developer,Python,backend,[Senior],remote-senior-python-developer-objectivity-par...,[pl],...,companies/logos/companies_details/objectivity_...,companies/logos/companies_listing/objectivity_...,companies/logos/companies_details_2x/objectivi...,companies/logos/companies_listing_2x/objectivi...,15960.0,26040.0,b2b,PLN,NaN,NaN
2,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,1698751662640,1.701084e+12,Remote Senior Python Developer,Python,backend,[Senior],remote-senior-python-developer-objectivity-par...,[pl],...,companies/logos/companies_details/objectivity_...,companies/logos/companies_listing/objectivity_...,companies/logos/companies_details_2x/objectivi...,companies/logos/companies_listing_2x/objectivi...,15960.0,26040.0,b2b,PLN,NaN,NaN
3,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,1698751662640,1.701084e+12,Remote Senior Python Developer,Python,backend,[Senior],remote-senior-python-developer-objectivity-par...,[pl],...,companies/logos/companies_details/objectivity_...,companies/logos/companies_listing/objectivity_...,companies/logos/companies_details_2x/objectivi...,companies/logos/companies_listing_2x/objectivi...,15960.0,26040.0,b2b,PLN,NaN,NaN
4,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,1698751662640,1.701084e+12,Remote Senior Python Developer,Python,backend,[Senior],remote-senior-python-developer-objectivity-par...,[pl],...,companies/logos/companies_details/objectivity_...,companies/logos/companies_listing/objectivity_...,companies/logos/companies_details_2x/objectivi...,companies/logos/companies_listing_2x/objectivi...,15960.0,26040.0,b2b,PLN,NaN,NaN

### Data transformations

#### copy dataframe to new object

In [42]:
df = half_df.copy()

In [51]:
# test_sen = df['seniority'][0]
# test_sen

['Senior']

#### Export seniority data from list to string

In [52]:
df['seniority'] = df['seniority'].apply(lambda x: x[0])

In [54]:
df['seniority'] = df['seniority'].str.replace(r'\[', '', regex=True)
df['seniority'] = df['seniority'].str.replace(r'\]', '', regex=True)
df['seniority'].value_counts()

seniority
Senior    801
Mid       261
Expert    219
Junior    114
Name: count, dtype: int64

#### Combine salary columns for further processing

In [58]:
df['salary'] = df['salary.from'].astype(str) + ' - ' + df['salary.to'].astype(str)
df['salary'].head()

0    15960.0 - 26040.0
1    15960.0 - 26040.0
2    15960.0 - 26040.0
3    15960.0 - 26040.0
4    15960.0 - 26040.0
Name: salary, dtype: object

#### Transofrm data to conform to scraped data columns

In [ ]:
class Listing(BaseModel):
    title: str
    link: str
    company: str = None
    location: str = None
    salary: str = None
    description: str = None
    date_added: str | datetime = None
    skills: List[str] = None
    search_term: str = 'python'
    date_searched: date = date.today()

In [59]:
df.columns

Index(['id', 'name', 'posted', 'renewed', 'title', 'technology', 'category',
       'seniority', 'url', 'regions', 'fullyRemote', 'flavors', 'topInSearch',
       'highlighted', 'help4Ua', 'reference', 'searchBoost',
       'onlineInterviewAvailable', 'location.places', 'location.fullyRemote',
       'location.covidTimeRemotely', 'logo.original', 'logo.jobs_details',
       'logo.jobs_listing', 'logo.jobs_details_2x', 'logo.jobs_listing_2x',
       'logo.companies_details', 'logo.companies_listing',
       'logo.jobs_details_webp', 'logo.jobs_listing_webp',
       'logo.companies_details_2x', 'logo.companies_listing_2x',
       'logo.jobs_details_2x_webp', 'logo.jobs_listing_2x_webp',
       'logo.original_pixel_image', 'logo.companies_details_webp',
       'logo.companies_listing_webp', 'logo.companies_details_2x_webp',
       'logo.companies_listing_2x_webp', 'salary.from', 'salary.to',
       'salary.type', 'salary.currency', 'referralBonus',
       'referralBonusCurrency', 'salary'],
      dtype='object')

#### Create new conforming dataframe
1. add empty columns where not present in data
2. convert dates

In [76]:
listing_df = df[['title', 'url', 'name', 'salary', 'posted', 'technology']]
listing_df.rename(columns={'url':'link', 'name':'company',
                          'technology':'skills', 
                          'posted':'date_added'}, inplace=True)
# listing_df.columns.get_loc('company')
listing_df.insert(listing_df.columns.get_loc('company')+1, 'location', '')
listing_df.insert(listing_df.columns.get_loc('salary')+1, 'description', '')
listing_df.insert(listing_df.columns.get_loc('skills')+1, 'search_term', search_tech.lower())
listing_df.insert(listing_df.columns.get_loc('search_term')+1, 'date_searched', date.today())
listing_df['date_added'] = listing_df['date_added'].apply(lambda x: datetime.fromtimestamp(x/1000).date())
# listing_df['date_added'] = datetime.fromtimestamp(listing_df['date_added']/1000).date()
listing_df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_14244\1274184536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_df.rename(columns={'url':'link', 'name':'company',
C:\Users\User\AppData\Local\Temp\ipykernel_14244\1274184536.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listing_df['date_added'] = listing_df['date_added'].apply(lambda x: datetime.fromtimestamp(x/1000).date())

,title,link,company,location,salary,description,date_added,skills,search_term,date_searched
0,Remote Senior Python Developer,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,,15960.0 - 26040.0,,2023-10-31,Python,python,2023-11-27
1,Remote Senior Python Developer,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,,15960.0 - 26040.0,,2023-10-31,Python,python,2023-11-27
2,Remote Senior Python Developer,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,,15960.0 - 26040.0,,2023-10-31,Python,python,2023-11-27
3,Remote Senior Python Developer,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,,15960.0 - 26040.0,,2023-10-31,Python,python,2023-11-27
4,Remote Senior Python Developer,remote-senior-python-developer-objectivity-par...,Objectivity - part of Accenture,,15960.0 - 26040.0,,2023-10-31,Python,python,2023-11-27

In [78]:
# steps:
# rename 'name' to 'company'
# 'location' is empty
# 'description' is empty
# rename 'technology' to skills
# rename 'posted' to 'date_added'
# add 'search_term' column
# add 'date_searched' column

In [77]:
# df['logo.jobs_details'].head()

In [80]:
listing_df.shape

(1395, 10)

### Export to csv

In [83]:
import os
today = date.today()
path = r'./scraping_results/' + str(today) + r'/nofluff'
if not os.path.exists(path):
    os.makedirs(path)
path += '/'
listing_df.to_csv(path + f'nofluff_{search_tech}_{today}.csv')