In [2]:
from pydantic import BaseModel
from typing import List, Optional
import pandas as pd

In [3]:
class ListingExtra(BaseModel):
    title: str
    link: str
    extra: str = None
    tlist: List[str] = None

In [4]:
test_extra = ListingExtra(title='test', link='testlink', tlist=['one','two'])

In [5]:
test_extra

ListingExtra(title='test', link='testlink', extra=None, tlist=['one', 'two'])

In [7]:
extra_df = pd.json_normalize(test_extra.model_dump())
print(extra_df.columns)

Index(['title', 'link', 'extra', 'tlist'], dtype='object')

### Splitting array cell into multiple columns
#### Method 1:

In [ ]:
extra_df[['skill1','skill2']] = pd.DataFrame(extra_df.tlist.tolist())

#### Method 2:

In [20]:
extra_df_split = extra_df.tlist.apply(pd.Series)
# extra_df_split
extra_df_split.rename(columns={0:'skill1', 1:'skill2'}, inplace=True)
extra_df_split

  skill1 skill2
0    one    two

In [9]:
extra_df.head()

  title      link extra       tlist
0  test  testlink  None  [one, two]